{% extends 'base.html.twig' %}

{% block title %}Room{% endblock %}

{% block body %}
    <h1>Room</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ room.id }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ room.summary }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ room.description }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ room.capacity }}</td>
            </tr>
            <tr>
                <th>Superficy</th>
                <td>{{ room.superficy }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ room.price }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ room.address }}</td>
            </tr>
             <tr>
                <th>owner</th>
                <td>{{ room.owner }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('rooms_index') }}">back to list</a>
{% if is_granted('ROLE_PROPRIETAIRE','ROLE_COLLABORATEUR') %}
    <a href="{{ path('rooms_edit', {'id': room.id}) }}">edit</a>
{% endif %}
{% if is_granted('ROLE_PROPRIETAIRE','ROLE_COLLABORATEUR') %}
    {{ include('rooms/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
