<h1> this room has this following caracteristics:</h1>
<h5>Summary:{{room.summary}}</h5>
<h5>Description:{{room.description}}</h5>
<h5>Capacity:{{room.capacity}}</h5>
<h5>superficy:{{room.capacity}}</h5>
<h5>Price:{{room.price}}</h5>
<h5>Address:{{room.address}}</h5>

