<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
          <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
          <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
          <!-- Bootstrap core JS-->
 <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        {% endblock %}
    </head>
      {% block menu %}    
       <!-- Navigation -->
    <!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <div class="container">
          <a class="navbar-brand" href="{{ path('home') }}">Couette et Café</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {{ render_bootstrap_menu('main') }}
             </ul>
          </div>
        </div>
     </nav>-->



        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{{ path('home') }}">Couette et Café</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        {{ render_bootstrap_menu('main') }}
                            </ul>
                            {% if app.user %}
               <ul class="navbar-nav ml-auto">
             {{ render_bootstrap_menu('account') }}
                </ul>
            {% else %}
                <ul class="navbar-nav ml-auto">
             {{ render_bootstrap_menu('anonymousaccount') }}
         </ul>
     {% endif %}
                        </li>
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit" >
                            <i class="bi-cart-fill me-1"></i>
                            <a href="{{ path('show_panier') }}">Cart</a>
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
   {% endblock %}

    <body>
        {% block body %}{% endblock %}
    </body>
       {% block footer %}
        <!-- Footer-->
        <footer class="py-5 bg-dark" style="margin-top:20% ">
            <div class="container"><p class="m-0 text-center text-white">Copyright Nirmine Khaled</p></div>
        </footer>
       {% endblock %}
</html>
