{% extends 'base.html.twig' %}

{% block title %}Region index{% endblock %}

{% block body %}
    <h1>Region index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Presentation</th>
                <th>Country</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for region in regions %}
            <tr>
                <td>{{ region.id }}</td>
                <td>{{ region.name }}</td>
                <td>{{ region.presentation }}</td>
                <td>{{ region.country }}</td>
                <td>
                    <a href="{{ path('region_show', {'id': region.id}) }}" class="btn btn-primary btn-lg active" role="button" title="Lien 1">show</a>
                    {% if is_granted('ROLE_PROPRIETAIRE','ROLE_COLLABORATEUR') %}
                    <a href="{{ path('region_edit', {'id': region.id}) }}" class="btn btn-primary btn-lg active" role="button" title="Lien 1">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if is_granted('ROLE_PROPRIETAIRE','ROLE_COLLABORATEUR') %}
    <a href="{{ path('region_new') }}" class="btn btn-primary btn-lg active" role="button" title="Lien 1">Create</a>
    {% endif %}
{% endblock %}
